## Basic Requirements
ipykernel
ipywidgets
python-dateutil
pandas
numpy
matplotlib
seaborn
yaml

## Model Development/Package
feature-engine
scikit-learn
scipy
# xgboost
# torch

## testing
pytest

## validation
pydantic
strictyaml